*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: var(--font-clr-dark-blue);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: var(--transition);
}
a:hover {
    border-color: var(--font-clr-dark-blue);
}

button {
    cursor: pointer;
    transition: var(--transition);
    border-style: solid;
    font-weight: bold;
}

button,
#modal,
.form-container,
.field-error-message,
input {
    border-radius: var(--border-radius);
}

.solid-divider {
    width: 70%;
    border-top: 2px solid #bbb;
}

.content-hidden {
    display: none;
}

:root {
    --bg-clr-light-blue: #38bdf8;
    --bg-clr-blue: #3b82f6;
    --bg-clr-dark-sky: #0c4a6e;
    --bg-clr-light-lime: #bef264;
    --bg-clr-light-sky: #38bdf8;

    --bg-clr-red: #b91c1c;
    --font-clr-black: black;
    --font-clr-white: white;
    --font-clr-dark-blue: #1e3a8a;
    --font-clr-light-sky: #7dd3fc;
    --font-1: "Roboto", sans-serif;
    --font-2: "Open Sans", sans-serif;
    --transition: all 0.25s ease-in-out;
    --border-radius: 4px;
    --letter-spacing: 4px;
}

body {
    font-family: var(--font-1), var(--font-2);
}

.content {
    position: relative; /*Positioned relative for a blur overlay and modal*/
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    /* grid-template-columns: 1fr auto; */
}

/* Overlay and modal styling */
#blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    z-index: 1;
}
#modal {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    background-color: var(--bg-clr-light-sky);
    color: var(--font-clr-dark-blue);
    width: 30%;
    height: auto;
    text-align: center;
}

#exit-modal-btn {
    margin-top: 12px;
    padding: 6px 12px;
    font-size: 16px;
    letter-spacing: var(--letter-spacing);

    background-color: transparent;
    color: var(--font-clr-dark-blue);
}

#exit-modal-btn:hover {
    background-color: black;
    color: white;
}

#page-header,
#page-footer {
    color: var(--font-clr-dark-blue);
    background-color: var(--bg-clr-light-blue);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Main content styles */
.main-content {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 24px;
    align-items: center;
}

/* Form container styles */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    width: 25%;
    padding: 16px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#platform-title {
    letter-spacing: var(--letter-spacing);
    font-style: italic;
}

/* Form styles */
fieldset {
    border: none;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /*Make sure of this later because it was set to 'fle'*/
    text-align: center;
}

label {
    display: block;
    margin-bottom: 4px;
}

label span {
    color: black;
    margin-bottom: 5px;
}

.field-error-message {
    background-color: var(--bg-clr-red);
    color: var(--font-clr-white);
    padding: 4px;
    font-size: 70%;
}

input {
    display: block;
    padding: 4px;
    border-style: solid;
    width: 100%;
    margin-bottom: 5px;
}
.valid-input {
    border-color: var(--bg-clr-light-lime);
}
.invalid-input {
    border-color: var(--bg-clr-red);
}

input:focus:invalid {
    outline: none;
}

button[type="submit"] {
    background-color: transparent;
    color: var(--font-clr-black);
    padding: 12px 6px;
    width: 100%;
    margin: 0 auto;
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    border: 2px solid black;
}
button[type="submit"]:hover {
    background-color: var(--bg-clr-blue);
    color: var(--font-clr-white);
    border-color: transparent;
}

/* Mainly footer styles */
#page-footer {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#footer-nav-list {
    display: flex;
    justify-content: center;
    column-gap: 24px;
}
